.sheet{
    text-align: center;
    
}
.cotik{
    position: absolute;
    right: 620.87px;
    top: 5510.48px;
} 
.sheet_text{
    text-align: center;
    margin-bottom: 17px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    color: #212B31;
    position: relative;

}
.sheet_three{
    width: 325px;
}

.sheet_info{
    display: flex;
}
.cool{
    margin: 0 auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #72787D;
    width: 857px;
    margin-bottom: 48px;
}
.sheet_three p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #72787D;
    margin: 11px 16px 62px;
}
.sheet_three h3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #212B31;
    margin-top: 15px;
}


.lern_more{ 
    background: #F6F8F9;
    height: 130px;
    border-radius: 5px;
    margin-bottom: 144px;
    display: flex;
    justify-content: space-between;
}


.lorn{
    display: flex;
}